/* Ajoutez ce CSS à votre fichier Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d291f5;
}

.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1rem;
}

.login-box input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-box .login-button,
.google-login,
.apple-login {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-box .login-button {
  background-color: #ff6600; /* Changez pour votre couleur préférée */
  color: white;
}

.google-login {
  background-color: #4285f4;
  color: white;
}

.apple-login {
  background-color: #333333;
  color: white;
}

.links a {
  margin: 0 1rem;
  color: #ff6600; /* Changez pour votre couleur préférée */
  text-decoration: none;
}
